
<%-include ('../partials/header') %> 

<div class="container w-100 mt-2">
  <h1 class="text-center">Dashboard</h1>
  <%- include('../partials/messages') -%>
</div>

<%-include ('../partials/footer') %> 
